* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url(3F3EF15D-8330-4F6A-833B-0B22AA04AF2E.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-top: 15rem;
  height: 100vh;
}


#inloggningssida {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    border: 3px; 
    background-color: rgb(265, 265, 265, 0.2);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 2rem;               
    height: 24rem;
    width: 30rem;
    box-sizing: border-box; 
    box-shadow: 0px 2px 4px rgb(108, 103, 103);
}

#inputFält {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

input {
  width: 90%;
  height: 1.8rem;
  font-size: 1.25rem;
  padding: 14px;
  border-radius: 1rem;
  border: 2px solid rgb(109, 111, 115);
  border-width: 2px;
  font-family: "Zalando Sans Expanded", sans-serif;
}

h2 {
font-size: 2rem;
text-align: center;
font-family: "Zalando Sans Expanded", sans-serif;
color: rgb(56, 56, 57);
}

button {
  font-size: 1.6rem;
  letter-spacing: 3px;
  width: 100%;
  height: 3.5rem;
  padding: 12px;
  border: none;
  border-radius: 1rem;
  background-color: rgba(30, 84, 184, 0.3);
  backdrop-filter: blur(10px);
  color: white;
  cursor: pointer;
  font-family: "Zalando Sans Expanded", sans-serif;
}

button:hover {
background-color: rgba(21, 69, 159, 0.4);
backdrop-filter: blur(10px);

}

#fel {
  font-size: 15px;
  color: rgb(207, 42, 42);
  white-space: pre-line;
  text-align: center;
  font-family: "Zalando Sans Expanded", sans-serif;
}

#välkommensida {
  font-size: 25px;
  text-align: center;
  margin-top: 5rem;
}


